.sidenav-header {
  padding-top: 15px;
  text-align: center;
  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .header-text {
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    > p {
      margin: 0;
      font-size: 0.8rem;
    }
  }
}

.hide-header-text {
  opacity: 0;
  height: 0px !important;
}
.menu-list {
  display: flex;
  flex-direction: column;
}
.menu-item-content {
  display: flex;
  align-items: center;
}
span {
  padding-left: 15px;
  font-family: "Salsa";
}
.menu-item {
  display: flex;
  align-items: center;
  border-left: 5px solid;
  span {
    color: white;
  }
  border-left-color: rgba(0, 0, 0, 0);
}

.selected-menu-item {
  border-left-color: #de3159;
  background: rgba(0, 0, 0, 0.05);
  span {
    color: #de3159;
  }
}
