
  <div class="container">
    <div class="quien-soy animate__animated animate__zoomInUp">
      <div class="foto">
        <img src="../../../assets/img/miFoto.png" alt="Imagen del alumno" class="alumno-image">
      </div>
      <div class="info">
        <h1 style="font-style: italic;">¿Quien soy?</h1>
        <h2><strong>Romina Calani Cruz</strong></h2>
        <p>Laboratorio 4 B - 2024</p>
        <p>Estudiante de la tecnicatura universitaria en programación</p>
      </div>
      <div class="separator"></div> 
      <div class="sobre-juego">
        <h2>Juego propio: Tragamonedas (slot)</h2>
        <p>
          El juego consiste en detener la ruleta de imagenes, si se presta atencion se puede ganar facilmente.
          Para ganar se debe obtener 3 coincidencias. El juego nunca termina, puedes girar cuantas veces quieras.
          Proximamente: apostar x cantidad de dinero y de acuerdo a las coincidencias se obtiene el doble o triple de dinero apostado.
        </p>
      </div>
    </div>
    
  </div>