<button mat-button color="primary">Primary</button>
<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<button mat-button disabled>Disabled</button>
<section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
<mat-icon color="warn" aria-hidden="true" aria-label="Example home icon" fontIcon="person"></mat-icon>  

<span class="material-icons orange400">face</span>
<span class="material-icons-two-tone">
    face
    </span>
    <span class="material-icons-two-tone">
        visibility_off
        </span><span class="material-icons">
            lock
            </span>