@import './color-variable';
$primary-palatte: (
    50 : #f0ecf6,
    100 : #dad1e8,
    200 : #c1b2d9,
    300 : #a893ca,
    400 : #967bbe,
    500 : #8364b3,
    600 : #7b5cac,
    700 : #7052a3,
    800 : #66489a,
    900 : #53368b,
    A100 : #e5d8ff,
    A200 : #c2a5ff,
    A400 : #a072ff,
    A700 : #8f58ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);


$accent-palette: (
    50 : #f2f6ec,
    100 : #dfe8d1,
    200 : #cad9b2,
    300 : #b5ca93,
    400 : #a5be7b,
    500 : #95b364,
    600 : #8dac5c,
    700 : #82a352,
    800 : #789a48,
    900 : #678b36,
    A100 : #eeffd8,
    A200 : #d7ffa5,
    A400 : #c1ff72,
    A700 : #b5ff58,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$warn-palette: (
    50 : #fbe6eb,
    100 : #f5c1cd,
    200 : #ef98ac,
    300 : #e86f8b,
    400 : #e35072,
    500 : #de3159,
    600 : #da2c51,
    700 : #d52548,
    800 : #d11f3e,
    900 : #c8132e,
    A100 : #fff8f9,
    A200 : #ffc5cc,
    A400 : #ff929f,
    A700 : #ff7989,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);