@use '@angular/material' as mat;


@import './palette';

$primary: mat.define-palette($primary-palatte, 300);
$accent: mat.define-palette($accent-palette, 300, 800, 200);

// The "warn" palette is optional and defaults to red if not specified.
$warn: mat.define-palette($warn-palette);

$custom-typography: mat.define-typography-config(
  $font-family: 'Salsa', 
);

$theme: mat.define-light-theme((
 color: (
   primary: $primary,
   accent: $accent,
   warn: $warn,
 ),
  typography: $custom-typography,
  density: 0,
));

@include mat.all-component-themes($theme);