<div class="container">
    <mat-card class="game-card">
      <mat-card-header>
        <mat-card-title ></mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-list>
          <h1 >Lista de juegos:</h1>
          <mat-list-item>
            <img matListItemIcon src="./../../../assets/gifs/ahorcado.png" class="game-icon" alt="Ahorcado">
            <span matListItemTitle class="game-title">Ahorcado</span>
            <p matListItemLine class="game-description">Juega a adivinar la palabra letra por letra</p>
          </mat-list-item>
          <mat-list-item>
            <img matListItemIcon src="./../../../assets/gifs/trivia.jpg" class="game-icon" alt="Preguntados">
            <span matListItemTitle class="game-title">Preguntados</span>
            <p matListItemLine class="game-description">Pon a prueba tus conocimientos con preguntas generales</p>
          </mat-list-item>
          <mat-list-item>
            <img  matListItemIcon src="./../../../assets/gifs/cartas.png" class="game-icon" alt="Mayor o menor">
            <span matListItemTitle class="game-title">Mayor o menor</span>
            <p matListItemLine class="game-description">Adivina cuál carta será la próxima</p>
          </mat-list-item>
          <mat-list-item>
            <img matListItemIcon src="./../../../assets/gifs/slot-machine.png" class="game-icon" alt="Máquina tragamonedas">
            <span matListItemTitle class="game-title">Máquina tragamonedas</span>
            <p matListItemLine class="game-description">Apuesta dinero y gana millones</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="creator-card">
      <mat-card-header>
        <mat-card-title>Información del creador:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h2>Romina Calani Cruz</h2>
        <h3>Laboratorio 4 B</h3>
      </mat-card-content>
    </mat-card>
  </div>