<div class="juego">
  <h1 style="background-color: azure; padding: 10px; border-radius: 10px">
    ¿En que fecha se estreno la pelicula?
  </h1>

  <div class="info" *ngIf="!jugando">
    <!-- <p>Adivina y gana</p> -->
    <p style="background-color: azure; padding: 10px; border-radius: 10px">
      <strong>Tematica: Marvel</strong>
    </p>
    <button mat-flat-button color="warn" (click)="iniciarJuego()">
      COMENZAR
    </button>
  </div>

  <div class="partida">
    <div class="portada" *ngIf="jugando">
      <img
        *ngIf="opcionCorrecta.poster_path"
        [src]="'https://image.tmdb.org/t/p/w500/' + opcionCorrecta.poster_path"
        alt="{{ opcionCorrecta.title }}"
      />
    </div>

    <div class="opciones" *ngIf="jugando">
      <div
        class="btn-opciones"
        *ngFor="let movie of preguntasLista[numeroPregunta]; let i = index"
      >
        <button (click)="verificarOpcion(i)" mat-flat-button>
          {{ movie.release_date }}
        </button>
      </div>
    </div>
  </div>
</div>
