<div class="container">
  <div class="presentacion animate__animated animate__zoomInUp">
    <div class="portada">
      <img class="img" src="../../assets/img/games.png" alt="" />
    </div>

    <div class="separator"></div>

    <div class="texto">
      <h1>TRABAJO PRÁCTICO N°1</h1>
      <h4>Laboratorio 4 B - 2024</h4>
      <button
        class="about animate__animated animate__swing animate__infinite"
        mat-flat-button
        color="warn"
        (click)="sobreMi()"
      >
        SOBRE MI
      </button>
    </div>
  </div>
</div>
