<mat-grid-list [cols]="gridCols" rowHeight="300px">
    
    <mat-grid-tile>
        <!-- <img src="../../assets/gifs/slot.jpg" (mouseenter)="mostrarGif('../../assets/gifs/slot.gif')" (mouseleave)="ocultarGif()">
        <img *ngIf="gifSeleccionado === juego.gif" [src]="juego.gif" alt="GIF"> -->
        <div class="contenedor-imagen"  (mouseenter)="alternarGif()" (mouseleave)="alternarGif()" (click)="navegarAJuego('games/slot')">
            <img [src]="mostrarGif ? gif : imagen" alt="Imagen">
          </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contenedor-imagen"  (mouseenter)="alternarGif()" (mouseleave)="alternarGif()" (click)="navegarAJuego('games/hangman')">
            <img [src]="mostrarGif ? gif : imagen2" alt="Imagen">
          </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contenedor-imagen"  (mouseenter)="alternarGif()" (mouseleave)="alternarGif()" (click)="navegarAJuego('games/cards')">
            <img [src]="mostrarGif ? gif : imagen3" alt="Imagen">
          </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="contenedor-imagen"  (mouseenter)="alternarGif()" (mouseleave)="alternarGif()" (click)="navegarAJuego('games/trivia')">
            <img [src]="mostrarGif ? gif : imagen4" alt="Imagen">
          </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <div class="row">
    <div  (mouseenter)="alternarGif()" (mouseleave)="alternarGif()" (click)="navegarAJuego('games/slot')">
        <img [src]="mostrarGif ? gif : imagen" alt="Imagen">
      </div>
      <div  (mouseenter)="alternarGif()" (mouseleave)="alternarGif()" (click)="navegarAJuego('games/slot')">
        <img [src]="mostrarGif ? gif : imagen" alt="Imagen">
      </div>
  </div> -->